# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
.DS_Store
/storage
/bootstrap/cache
/nbproject
.env
/public/uploads

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/nbproject/private/